@mixin flex {
    .flex {
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        &.h-around {
            justify-content: space-around;
        }
        &.h-between {
            justify-content: space-between;
        }
    }
}